{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-5 col-md-8 col-sm-12">
                {{ form.name|as_crispy_field }}
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-5 col-md-8 col-xs-4">
                {{ form.sets|as_crispy_field }}
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-5 col-md-8 col-xs-4">
                {{ form.reps|as_crispy_field }}
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="form-group col-lg-5 col-md-8 col-sm-12">
                {{ form.description|as_crispy_field }}
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <button class="btn btn-primary btn-lg btn-block col-lg-5 col-md-8 col-sm-12" type="submit">
                Add exercise
            </button>
        </div>

    </form>
{% endblock %}