{% extends "base.html" %}
{% block content %}

    <a href="{% url 'index' %}">Main page</a>

    {% for workout in workouts %}
        <h3>{{ workout.name }}</h3>
        {{ workout.description }}<br>
        <ul>
            {% for split in workout.splits.all %}
                <li>{{ split.name }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'edit_workout' workout.id %}">Edit</a> <a href="{% url 'delete_workout' workout.id %}">Delete</a> <br>
        <a href="{% url 'start_workout' workout.id %}">Start workout</a>
    {% endfor %}

    <br><br>
    <a href="{% url 'add_workout' %}">Add workout</a>
{% endblock %}