<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url 'index' %}">Main page</a>
    {% for split in splits %}
        <h3>{{ split.name }}</h3>
        {{ split.description }}<br>
        <ul>
            {% for exercise in split.exercises.all %}
                <li>{{ exercise.name }} {{ exercise.reps }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'edit_split' split.id %}">Edit</a> <a href="{% url 'delete_split' split.id %}">Delete</a>
    {% endfor %}
    <br><br>
    <a href="{% url 'add_split' %}">Add split</a>
</body>
</html>