{% extends "base.html" %}
{% block content %}
    <ul>
    {% for exercise in split.exercises.all %}
        <li>
            {{ exercise.name }}
            {% if exercise.sets > 0 %}
                {{ exercise.sets }} x
            {% else %}
                1 x
            {% endif %}
            {{ exercise.reps }}<br>
            Current load: {{ exercise.load }}<br>
            Increase by: {{ exercise.progression }}<br>
            <div class="btn btn-outline-primary rounded-circle">
                {{ exercise.reps }}
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}