{% extends "base.html" %}\
{% load crispy_forms_tags %}

{% block content %}
    {% if invalid_password %}
        <br>
        <div class="container-fluid font-weight-bold text-center text-danger">
            The password you entered didn't match or is too short!
        </div>
        <br>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row justify-content-center">
            <button type="submit" class="col-8 btn btn-outline-primary btn-lg btn-block">Register</button>
        </div>
    </form>
{% endblock %}